body {
    background-color: rgb(252, 252, 252);
    color: black;
}

.titlebar-header {
    background-color: rgb(238, 238, 238);
    color: black;
}

input[type="text"] {
    color: black;
}


input[type="checkbox"] {
    background-color: rgb(26, 26, 26);
    color: white;
}

input[type="checkbox"]:checked {
    background-color: rgb(81, 142, 255);
    color: white;
}